{% extends "core.twig" %}
{% block title %}{{ _('App') }} {{ a.name }}{% endblock %}
{% block contentHeader %}
        {{ _('App') }}
        <small>{{ a.name }}</small>
{% endblock %}
{% block leftMenu %}
                <div class="list-group" id="menu">
                    <a href="{{ path_for('packages.edit', {'str': a.dbp_str_id}) }}" class="list-group-item">{{ _('Package') }}</a>
                </div>
{% endblock %}
{% block scripts %}
<script>
repo.api.dispatch.on('ready', function() {
d3.select('section.content').call(bs.union()
	.item(bs.form().url("{{ path_for('apps.edit.desc', {'id': a.id }) }}").body(bs.box()
		.title("{{ _('Description') }}")
		.tool(bs.button.form().text("{{ _('Submit') }}").icon("fa fa-pencil").class('btn-info'))
		.body(bs.textarea('desc').value({{ json(a.infos) }}))
	)).item(bs.form().url("{{ path_for('apps.edit.enable', {'id': a.id }) }}").body(bs.box()
  {% if a.enabled != 1 %}
		.class('box-success')
		.title("{{ _('Enable this application') }}")
		.body(bs.button.form()
			.text("{{ _('Enable') }}")
			.class("btn-success")
  {% else %}
		.class('box-warning')
		.title("{{ _('Disable this application') }}")
		.body(bs.button.form()
			.text("{{ _('Disable') }}")
			.class("btn-warning")
  {% endif %}
	)))
);
});
</script>
{% endblock %}
