{% extends "core.twig" %}
{% block title %}{{ _('Apps') }}{% endblock %}
{% block contentHeader %}
        {{ _('Apps') }}
        <small>{{ _('list') }}</small>
{% endblock %}
{% block leftMenu %}
                <div class="list-group" id="menu">
  {% for c in menu.categories %}
                    <a href="{{ c.url }}" class="list-group-item">{{ c.name }} ({{ c.app_cnt }})</a>
  {% endfor %}
                </div>
{% endblock %}
{% block scripts %}
<script>
repo.api.dispatch.on('ready', function() {
d3.select('section.content').call(repo.widgets.list().items(repo.widgets.items.app).data({{ json(apps) }}));
});
</script>
{% endblock %}
