<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% block meta %}{% endblock %}
  <title>{{ _('DBP repository') }} - {% block title %}{{ _('home') }}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="{{ base }}/favicon.ico">
  <link rel="stylesheet" href="{{ base }}/vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ base }}/vendor/css/flag-icon.min.css">
  <link rel="stylesheet" href="{{ base }}/vendor/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ base }}/css/repo.css">
  {% block stylesheet %}{% endblock %}
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
{% block body %}
<body class="">
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top navbar-top-repo" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		<a class="navbar-brand" href="{{ path_for('home') }}">DBP <small>repository</small></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path_for('apps.list') }}">Apps</a>
                    </li>
{% if menu.isAuth %}
                    <li>
                        <a href="{{ path_for('upload') }}">Upload</a>
                    </li>
{% endif %}
                    <li>
                        <a href="https://pyra-handheld.com/boards/">Forum</a>
                    </li>
                </ul>
		<ul class="nav navbar-nav navbar-right">
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  {% if lang == 'fr-FR' %}
			    <span class="flag-icon flag-icon-fr flag-icon-squared"></span>
  {% elseif lang == 'it-IT' %}
			    <span class="flag-icon flag-icon-it flag-icon-squared"></span>
  {% elseif lang == 'es-ES' %}
			    <span class="flag-icon flag-icon-es flag-icon-squared"></span>
  {% elseif lang == 'de-DE' %}
			    <span class="flag-icon flag-icon-de flag-icon-squared"></span>
  {% elseif lang == 'nl-NL' %}
			    <span class="flag-icon flag-icon-nl flag-icon-squared"></span>
  {% elseif lang == 'en-GB' %}
			    <span class="flag-icon flag-icon-gb flag-icon-squared"></span>
  {% else %}
			    <span class="flag-icon flag-icon-us flag-icon-squared"></span>
  {% endif %}
		    <span class="caret"></span></a>
		    <ul class="dropdown-menu">
		     <li><a href="{{ path_for('user.lang') }}?lang=fr-FR&referer={{ menu.url }}"><span class="flag-icon flag-icon-fr flag-icon-squared"></span> {{ _('French') }}</a></li>
		     <li><a href="{{ path_for('user.lang') }}?lang=de-DE&referer={{ menu.url }}"><span class="flag-icon flag-icon-de flag-icon-squared"></span> {{ _('German') }}</a></li>
		     <li><a href="{{ path_for('user.lang') }}?lang=es-ES&referer={{ menu.url }}"><span class="flag-icon flag-icon-es flag-icon-squared"></span> {{ _('Spanish') }}</a></li>
		     <li><a href="{{ path_for('user.lang') }}?lang=it-IT&referer={{ menu.url }}"><span class="flag-icon flag-icon-it flag-icon-squared"></span> {{ _('Italian') }}</a></li>
		     <li><a href="{{ path_for('user.lang') }}?lang=nl-NL&referer={{ menu.url }}"><span class="flag-icon flag-icon-nl flag-icon-squared"></span> {{ _('Dutch') }}</a></li>
		     <li><a href="{{ path_for('user.lang') }}?lang=en-GB&referer={{ menu.url }}"><span class="flag-icon flag-icon-gb flag-icon-squared"></span> {{ _('British') }}</a></li>
		     <li><a href="{{ path_for('user.lang') }}?lang=en-US&referer={{ menu.url }}"><span class="flag-icon flag-icon-us flag-icon-squared"></span> {{ _('American') }}</a></li>
		    </ul>
		  </li>
		  <li>
		    <form class="navbar-form" role="search" action="{{ path_for('apps.list') }}">
		      <div class="input-group">
			<input type="text" class="form-control" placeholder="{{ _('Search') }}" name="q">
			<div class="input-group-btn">
			  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		      </div>
		    </form>
		  </li>
		  <li class="dropdown">
		    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menu.username }}<span class="caret"></span></a>
		    <ul class="dropdown-menu">
{% if menu.isAuth %}
              <li class="user-footer">
                <div class="pull-left">
                  <a href="{{ path_for('user.settings') }}" class="btn btn-info btn-flat">Profile</a>
                </div>
  {% if not use_xf %}
                <div class="pull-right">
                  <a href="{{ path_for('auth.signout') }}" class="btn btn-warning btn-flat">Sign out</a>
                </div>
  {% else %}
                <div class="pull-right">
                  <a href="/boards/logout" class="btn btn-warning btn-flat">Sign out</a>
                </div>
  {% endif %}
              </li>
{% elseif not use_xf %}
    <form action="{{ path_for('auth.login') }}" method="post">
              <li class="user-body">
                <p class="login-box-msg">{{ _('Sign in to start your session') }}</p>
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="{{ _('Username') }}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="{{ _('Password') }}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
              </li>
              <li class="user-footer">
		      <div class="row"><div class="col-xs-6">
          <div class="checkbox iCheck"><label><input type="checkbox" name="remember"> {{ _('Remember Me') }}</label></div>
        </div>
        <div class="col-xs-6 pull-right">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">{{ _('Sign In') }}</button>
		  <a href="{{ path_for('auth.register') }}" class="btn btn-warning btn-block btn-flat">Register</a>
		  </div></div>
              </li>
    </form>
{% else %}
    <form action="/boards/login/login" method="post">
	<input name="cookie_check" value="1" type="hidden" />
	<input name="_xfToken" value="" type="hidden" />
	<input type="hidden" name="redirect" value="{{ menu.url }}" />
              <li class="user-body">
                <p class="login-box-msg">{{ _('Sign in to start your session') }}</p>
      <div class="form-group has-feedback">
        <input type="text" name="login" class="form-control" placeholder="{{ _('Username') }}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="{{ _('Password') }}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
              </li>
              <li class="user-footer">
		      <div class="row">
			<div class="col-xs-6"></div>
			<div class="col-xs-6 pull-right">
			  <button type="submit" class="btn btn-primary btn-block btn-flat">{{ _('Sign In') }}</button>
		      </div></div>
              </li>
    </form>
{% endif %}
		    </ul>
		  </li>
	        </ul>
            </div>
        </div>
    </nav>
    <div colass="container-fluid">

        <div class="row">
    <!-- Page Menu -->
{% if menu.disabled %}
	    <div class="col-md-12">
{% else %}
            <div class="col-md-3 col-lg-2 hidden-sm hidden-xs hidden-print">
<section class="menu">
{% block leftMenu %}
{% endblock %}
</section>
            </div>

            <div class="col-md-9 col-lg-10">
{% endif %}
    <!-- Page Content -->
{% block contentWrapper %}
    <section class="content-header">
      <h1>
  {% block contentHeader %}
        DBP repository
        <small>Home</small>
  {% endblock %}
      </h1>
      <ol class="breadcrumb">
  {% block breadcrumb %}
        <li><a href="{{ path_for('home') }}"><i class="fa fa-home"></i>{{ _('Home') }}</a></li>
    {% for b in menu.breadcrumb %}
        <li><a href="{{ b.url }}"><i class="{{ b.icon }}"></i>{{ _(b.name) }}</a></li>
    {% endfor %}
  {% endblock %}
      </ol>
    </section>
{% if flash.getMessage('success') %}
    <div class="box-body"><div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-check"></i>{{ _(flash.getMessage('success') | first ) }}
    </div></div>
{% endif %}
{% if flash.getMessage('info') %}
    <div class="box-body"><div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-info"></i>{{ _(flash.getMessage('info') | first ) }}
    </div></div>
{% endif %}
{% if flash.getMessage('warning') %}
    <div class="box-body"><div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-warning"></i>{{ _(flash.getMessage('warning') | first ) }}
    </div></div>
{% endif %}
{% if flash.getMessage('error') %}
    <div class="box-body"><div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<i class="icon fa fa-ban"></i>{{ _(flash.getMessage('error') | first ) }}
    </div></div>
{% endif %}
    <section class="content">
  {% block content %}
<noscript>
<div class="jumbotron">
  <h1>The DBP repository requires JavaScript to run!</h1>
  <p>Please enable javascript on your browser (or disable noScript for this application)</p>
</div>
</noscript>
  {% endblock %}
    </section>
  </div>
{% endblock %}

        </div>
    </div>
    <div class="footer container-fluid">
        <footer>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Copyright &copy; Sébastien Huss 2017</p>
                </div>
            </div>
        </footer>
</div>

<script src="{{ base }}/vendor/js/d3.v4.min.js"></script>
<script src="{{ base }}/vendor/js/d3-bootstrap-withextra.min.js"></script>
<script src="{{ base }}/js/repo.js"></script>
<script src="{{ base }}/js/repo.tables.js"></script>
<script>
base= "{{ base }}";
repo.api.lang('{{ lang }}', '{{ base }}/langs/{{ lang }}.json');
</script>
{% block scripts %}{% endblock %}
</body>
{% endblock %}
</html>
