{% extends "core.twig" %}
{% block title %}{{ _('Package') }} {{ p.name }}{% endblock %}
{% block contentHeader %}
        {{ _('Package') }}
        <small>{{ p.name }}</small>
{% endblock %}
{% block leftMenu %}
	<h3>{{ _('Apps') }}</h3>
                <div class="list-group" id="menu">
  {% for a in apps.body %}
                    <a href="{{ path_for('apps.edit', {'id': a.id}) }}" class="list-group-item">{{ a.name }}</a>
  {% endfor %}
                </div>
{% endblock %}
{% block scripts %}
<script>
repo.api.dispatch.on('ready', function() {
d3.select('section.content').call(bs.modal().class('modal-danger').id("deletePackage").title("{{ _('Delete package') }}").body(bs.union()
	.item(bs.p("{{ _('Are you sure you want to delete this package:') }}"))
	.item(bs.p("{{ p.name }}"))
).footer(bs.union()
	.item(bs.p("{{ _('Warning: this action cannot be undone') }}"))
	.item(bs.button.submit().class('btn-danger').url("{{ path_for('packages.edit.delete', {'str': p.dbp_str_id}) }}").text("{{ _('Confirm') }}"))
));

d3.select('section.content').call(bs.union()
	.item(bs.form().url("{{ path_for('packages.edit.desc', {'str': p.dbp_str_id}) }}").body(bs.box()
		.title("{{ _('Description') }}")
		.tool(bs.button.form().text("{{ _('Submit') }}").icon("fa fa-pencil").class('btn-info'))
		.body(bs.textarea('desc').value({{ json(p.infos) }}))
	)).item(bs.form().url("{{ path_for('packages.edit.urls', {'str': p.dbp_str_id}) }}").body(bs.box().title("{{ _('URLs') }}").tool(bs.button.form().text("{{ _('Submit') }}").icon("fa fa-pencil").class('btn-info')).body(bs.union()
		.item(bs.formGroup('forum').label("{{ _('Forum') }}").type("text").value("{{ p.forumurl }}"))
		.item(bs.formGroup('up').label("{{ _('Up-stream website') }}").type("text").value("{{ p.upurl }}"))
		.item(bs.formGroup('upsrc').label("{{ _('Up-stream sources') }}").type("text").value("{{ p.upsrcurl }}"))
		.item(bs.formGroup('src').label("{{ _('Pyra sources') }}").type("text").value("{{ p.srcurl }}"))
		.item(bs.formGroup('license').label("{{ _('License') }}").type("text").value("{{ p.licenseurl }}"))
	))).item(bs.form().url("{{ path_for('packages.edit.license', {'str': p.dbp_str_id}) }}").body(bs.box().title("{{ _('License') }}")
		.tool(bs.button.form().text("{{ _('Submit') }}").icon("fa fa-pencil").class('btn-info')).body(bs.union()
		.item(bs.formGroup('ltype').label("{{ _('Type') }}").obj(bs.select('ltype').value({{ p.lic_id }})
 		.add("{{ _('Unset') }}",0)
{% for l in lics %}
		.add("{{ l.name }}",{{ l.id }})
{% endfor %}
		)).item(bs.formGroup('name').label("{{ _('License name') }}").type("text").value("{{ p.lic_detail }}"))
	))).item(bs.box().title("{{ _('Maintainers') }}")
		.tool(bs.button.a().url("{{ path_for('packages.maintainer.add', {'str': p.dbp_str_id}) }}").icon('fa fa-plus').text("{{ _('Add') }}"))
		.body(repo.chart.table()
			.col("{{ _('username') }}")
			.col("{{ _('Remove') }}", 'text-right').body({{ json(maintainers) }})
	)).item(bs.box().title("{{ _('Disable') }}").class('box-warning').body(bs.row()
		.cell('col-md-2', bs.panel().title("{{ _('Package') }}").body(bs.button.submit().url("{{ path_for('packages.edit.disable', {'str': p.dbp_str_id}) }}")
{% if p.enabled == 1 %}
			.text("{{ _('Disable') }}")
			.class('btn-warning')
{% else %}
			.text("{{ _('Enable') }}")
			.class('btn-success')
{% endif %}
		)).cell('col-md-5', bs.panel().title("{{ _('Versions') }}").body(repo.chart.table()
			.col("{{ _('Version') }}")
			.col("{{ _('Disable') }}", 'text-right').body({{ json(vers) }})
		)).cell('col-md-5', bs.panel().title("{{ _('Disabled apps') }}").body(repo.chart.table()
			.col("{{ _('Apps') }}")
			.col("{{ _('Enable') }}", 'text-right').body({{ json(disa) }})
		))
	)).item(bs.box().title("{{ _('Delete package') }}").class('box-solid box-danger').body(bs.button.toggle().target('deletePackage')
			.text("{{ _('Delete') }}")
			.class('btn-danger')
	))
);
});
</script>
{% endblock %}
