{% extends "core.twig" %}
{% block title %}{{ _('DBP repository') }}{% endblock %}
{% block contentHeader %}
        {{ _('Package') }}
        <small>{{ p.name }}</small>
{% if menu.isMaintainer %}
<a class="btn btn-outline-success" href="{{ path_for('packages.edit', {'str': p.dbp_str_id}) }}" role="button">Edit</a>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
d3.select('section.content').call(bs.union()
	.item(bs.row()
		.cell('col-lg-3', bs.union()
		.item(repo.widgets.core.box().title("{{ p.name }}").body(bs.descTable()
			.item('id',	"{{ p.dbp_str_id }}")
			.item('name',	"{{ p.name }}")
			.item('version',"{{ p.version }}")
			.item('arch',	"{{ p.arch }}")
			.item('uploader',"{{ p.username }}")
{% if p.forumurl %}	.item('Forum',"link", "{{ p.forumurl }}")		{% endif %}
{% if p.upurl %}	.item('Up stream',"link", "{{ p.upurl }}")		{% endif %}
{% if p.upsrcurl %}	.item('Up stream sources',"link", "{{ p.upsrcurl }}")	{% endif %}
{% if p.srcurl %}	.item('Sources',"link", "{{ p.srcurl }}")		{% endif %}
{% if p.licenseurl or p.lic_detail %}	.item('License',{% if p.lic_detail %}"{{ p.lic_detail }}"{% else %}"link"{% endif %}{% if p.licenseurl %}, "{{ p.licenseurl }}"{% endif %})		{% endif %}
			.item('date',	repo.api.format.date({{ p.timestamp }}))
		))
		.item(bs.button.a().url("{{ path_for('packages.download', {'str': p.dbp_str_id}) }}").text('Download').icon('fa fa-download'))
{% if menu.isMaintainer %}
		.item(bs.button.a().url("{{ path_for('packages.edit', {'str': p.dbp_str_id}) }}").text('Edit').icon('fa fa-pencil').class('btn-warning'))
{% endif %}
		).cell('col-lg-9', bs.tabs()
			.tab('Officials screenshots', bs.carousel().data({{ json(offshot) }})
			).tab('Community screenshots', bs.carousel().data({{ json(comshot) }})
	))).item(bs.h3('Apps')
	).item(repo.widgets.list().items(repo.widgets.items.app).data({{ json(apps) }})
	).item(bs.tabs()
			.tab('Description', bs.mdViewer().src({{ json(p.infos) }})
			/*).tab('Comments', bs.mdViewer().src('Comments come here')*/
			).tab('Version history', repo.chart.table().col('Date').col('version').col('uploader').col('Download', 'text-right').body({{ json(vers) }})
			/*).tab('Issues', bs.mdViewer().src('Issues come here')*/
	)));
</script>
{% endblock %}
